
// ####### COLOURS ########

// PRIMARY

$red: #ee3d43;
$blue: #313bcf;
$navy: #0b0f4e;

// Secondary

$text: #333333;

// STANDARD

$white: #FFFFFF;
$black: #000000;

// ####### TYPOGRAPHY #######

$lato:'Lato', sans-serif;

// ####### Breakpoints #######

$xs: 480px;
$tab: 576px;
$sm: 768px;
$md: 992px;
$lg: 1220px;
$xl: 1480px;

